$base-color-blue: #244091;
$base-color-lighBlue: #658AD9;

.list {
    height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
    &__box {
        width: 80%;
        background-color: #ffffffbd;
        padding: 3rem 1rem;
        border-radius: 1rem;
        margin: 0 auto;
        position: relative;
        border-radius: 100px 30px 100px 30px !important;
    }
    &__img {
        width: 20rem;
    }
    &__container {
        display: flex;
        justify-content: space-around;
    }
    &__table {
        border-radius: 5px;    
        width: 100%;
        overflow: auto;
        height: 25rem;
    }
    &__item {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: $base-color-blue;
        text-transform: uppercase;
    }

    &__btnSend {
        text-decoration: none;
        width: auto;
        cursor: pointer;
        border: transparent;
        background-color: transparent;

        img {
            width: 35px;
        }
    }

    .export {
        width: 120px;
        height: 45px;
        font-size: 12px;
        position: absolute;
        padding: 0 !important;
        right: 35px;
        top: 25px;
        border: none !important;
    }
}


header, .row {
    display: flex;
    border-bottom: 2px solid $base-color-blue;
    padding: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .col {
    flex: 1;        /* distributes space on the line equally among items */
  }