<div>
    <div class="modal__title">CITA AGENDADA CON ÉXITO</div>
    <div class="modal__img">
        <img src="../../assets/icon/blue-check-mark.svg.med.png" alt="">
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="modal__name">
            <label class="modal__doctor" style="margin-bottom: 20px;">{{clientTurner.first_names}} {{clientTurner.last_names_1}} {{clientTurner.last_names_2}}</label>
            <label class="modal__student">01</label>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
    <button  [mat-dialog-close]="true" cdkFocusInitial mat-raised-button color="primary">Entendido</button>
    </mat-dialog-actions>
</div>

