<div class="turner">
    <div class="turner__box">
        <div class="temporal">
            <div class="temporal__title">
                <img src="" alt="">
            </div>
            <div class="temporal__doc"> PRIORITARIO</div>
            <button class="btn" type="submit" routerLink="/turner">
                <span>Turno</span>
            </button>
        </div>
    </div>
    <div class="turner__box">
        <div class="temporal">
            <div class="temporal__title">
                <img src="" alt="">
            </div>
            <div class="temporal__doc"> GENERAL</div>
            <button class="btn" type="submit" routerLink="/turner">
                <span>Tomar turno</span>
            </button>
        </div>
    </div>
</div>