<div class="turner">
    <div class="turner__box">
        <div class="temporal">
            <div class="temporal__title">
                <img src="" alt="">
            </div>
            <div class="temporal__doc"> CAJA</div>
            <button class="btn" type="submit"  (click)="openDialog()">
                <span>Tomar Turno</span>
            </button>
        </div>
    </div>
    <div class="turner__box">
        <div class="temporal">
            <div class="temporal__title">
                <img src="" alt="">
            </div>
            <div class="temporal__doc">ADMISIONES</div>
            <button class="btn" type="submit"  (click)="openDialog()">
                <span>Tomar turno</span>
            </button>
        </div>
    </div>
</div>