<div class="login">
  <div class="login__box" *ngIf="!close">
    <img src="./../../assets/icon/logo-ces.png" class="login__img" alt="">
    
    <div class="login__content">
      <form class="login__form" [formGroup]="dniForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="">
          <input matInput placeholder="Cédula" formControlName="dni">
        </mat-form-field>

        <div class="inputResponsive">
          <button class="btn" type="submit" style="margin-right: 10px;">
            <span>Agendar</span>
          </button>
          <button class="btn" type="submit" routerLink="/turner">
            <span>Turno</span>
          </button>
        </div>
      </form>
      <div class="error-label" *ngIf="msg != ''">
        {{ msg }}
      </div>
    </div>
  </div>
  <div class="login__box" *ngIf="close">
    <img src="./../../assets/icon/logo-ces.png" class="login__img" alt="">
    <div class="login__done-appointment">
      El horario de apertura es de 7:00am a 5:00pm
    </div>
  </div>
</div>