<div class="login">
  <div class="login__box" >
    <img src="./../../assets/icon/logo-ces.png" class="login__img" alt="">
    
    <div class="login__content">
      <form class="login__form" [formGroup]="dniForm">
        <mat-form-field class="">
          <input matInput placeholder="Cédula" formControlName="dni">
        </mat-form-field>

        <div class="inputResponsive">
          <button class="btn" type="submit" (click)="onSubmit()" style="margin-right: 10px;">
            <span>Agendar</span>
          </button>
          <button class="btn" type="" (click)="turner()">
            <span>Turno</span>
          </button>
        </div>
      </form>
      <div class="error-label" *ngIf="msg != ''">
        {{ msg }}
      </div>
    </div>
  </div>
</div>