:root {
    /* Normal colors */
    --color-white: #fff;
    --color-black: #000;
  
    /* Primary colors */
    --color-primary: #58c6d0;
    --color-primaryDark: #244091;
    
    /* Secondary colors */
    --color-secondary: #0b4075;
    --color-secondaryLight: #d0e3ff;
    --color-secondaryDark: #21406f;
  
  
    /* Alerts */
    --bg-alert: #136ffb;
    --error: #e0301e;
    --warning: #ffb600;
    --info: #0089eb;
    --complete: #5ca479;
  }