.admin {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    &__box {
        width: 50%;
        background-color: white;
        padding: 3rem 1rem;
        border-radius: 1rem;
        margin: 0 auto;
    }
    &__img {
        margin-bottom: 2rem;
        width: 20rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
}